.benefits {
  width: 100%;
  background-color: #002c85;
  height: 800px;
  clip-path: polygon(0 22%, 100% 1.5%, 100% 79%, 0% 100%);
  margin-top: -480px;
  padding: 4%;
  padding-top: 160px;
}
.top-border,
.bottom-border {
  background: linear-gradient(45deg, #d100de, #7d0098, #1419af, #043f8d);
  height: 500px;
  width: 100%;
  clip-path: polygon(0 33%, 100% 0%, 100% 7%, 0 40%);
}
.bottom-border {
  margin-top: -200px;
}
.benefit-img {
  height: 40px;
  width: 40px;
}
.benefit-head {
  color: rgb(245, 245, 245);
  font-size: 4.5rem;
}
.benefit-desc {
  color: rgb(245, 245, 245);
  font-size: 1.8rem;
  margin-bottom: -18px;
}
.benefit-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
